@tailwind base;
@tailwind components;
@tailwind utilities;

.branding-img {
  offset-path: path(
    "M21.137 208.121c31.46 11.63 121.37 72.912 188.764 69.78 67.395-3.13 141.052-85.287 215.603-88.567 74.552-3.28 171.767 70.824 231.707 68.886 59.94-1.938 106.609-67.097 127.93-80.516"
  );
}

body {
  position: relative;
}
